@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';

}

button{
    cursor: pointer;
}

body{
    background: #92CAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#Button_Wrap{
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: solid 6px #92CAFF;
    border-radius: 20px;

    display:flex;
    justify-content: center;
    align-items: center;

    a{ 
        text-decoration: none;
    }

    .title{
        font-size: 32px;
        font-weight: bold;
        color: #49A1F1;
        
    }


}

#Wirte_Wrap{
    width: 1000px ;
    height: 800px;
    background-color: #fff;
    border-radius : 20px;
    padding: 0 61px;

    input,textarea{
        width: 100%;
        border: 3px solid #49A1F1;
        font-size: 20px;
        padding: 20px 30px;
        border-radius: 10px;
    }

    ::placeholder{
        color: #49A1F1;
        font-weight: bold;
        font-family: 'NanumSquareNeo-Variable';

    }

    .title{
        font-size: 23px;
        font-weight: bold;
        color: #49A1F1;

        border-color: #92CAFF;
        border-width: 4px;
        
        width: 879px;
        height: 66px;
        margin-top:40px;
    }

    .content{
        width: 100%;
        height: 534px;

        font-size: 23px;

        resize:none;

        margin-top: 27px;
        border-color: #92CAFF;
        border-width: 4px;
        
    }

    .button_group{
        display:flex;
        justify-content: space-between;
        margin-top: 26px;
        

        button{
            width: 250px;
            height: 66px;
            border-radius: 10px;
            font-size: 20px;
        }

        .delete{
            background-color:#fff;
            color : #49A1F1;
            border: solid 4px #92CAFF;
        }

        .write{
            color:#fff;
            background-color: #92CAFF;
            border: none;
        }
    }
}

#Article_Wrap{
    width: 1000px ;
    height: 800px;
    background-color: #fff;
    border-radius : 20px;
    padding: 40px 61px;

    .article{
        padding-bottom: 20px;

        h1{
            margin-top: 70px;
            font-size: 32px;
            font-weight: bold;
            color: #49A1F1;
            border-bottom: solid 4px #92CAFF;
        }

        p{
            
            margin-top:30px;
            font-size: 20px;
            font-weight: bold;
            color: #49A1F1;
        }

    }

    .icon_group{
        display: flex;
        justify-content:right;
        border-bottom: solid 4px #92CAFF;
        

        div {
            display:flex;
            align-items: center;

            font-size: 30px;
            font-weight: bold;
            color: #92CAFF;
            gap:7px;

        }
        .heart{
            margin-left: 20px;
            
        }
    }

    footer{
        display: flex;
        margin-top: 30px;
    }

    .comment_text{
        font-size: 20px;
        font-weight: bold;
        color: #92CAFF;
        padding-left: 20px;


        border: 4px solid #92CAFF;

        
        width: 744px;
        height: 65px;
        margin-right: 10px;
        
        border-radius: 10px;
    }
    ::placeholder{
        color: #92CAFF;
    }

    .comment_btn{
        width: 137px;
        height: 65px;
        background-color: #92CAFF;

        border: none;
        border-radius : 10px;

        font-size: 20px;
        font-size: bold;
        color:#fff;
    }
}