.container {
  position: relative;
}

.sidebar {
  width: 422px;
  height: 1020px;

  position: absolute;
  top: 30px;
  left: 30px;


  background: white; 
  border-radius: 20px;

  z-index: 10;

  padding: 32px 30px 0 30px ;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 30px;

}

.saved {
  margin-bottom: 30px;

  h3 {
    font-size: 24px;
    color: #000000;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: center;
}

.card {
  width: 362px;
  height: 120px;

  display: flex;
  align-items: center;

  padding-left: 30px ;
  border-radius: 10px;
  background: #ffffff;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 31.5px;
  height: 39px;

  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 25.25px;
}

.info h3 {
  margin: 0;
  font-size: 20px;
}

.info p {
  margin: 0;
  font-size: 15px;
}