.wrap{
    width: 1980px;
    height: 1080px;
    margin: 0 auto;

    position: relative;
}
.sec1{
    width: 100px;
    height: 100px;
    background-color: #000000;

    position: absolute;
    top: 40px;
    left: 365px;
}
.sec2{
    width: 200px;
    height: 200px;
    background-color: #000000;

    position: absolute;
    top: 140px;
    left: 465px;
}
.sec3{
    width: 300px;
    height: 300px;
    background-color: #000000;

    position: absolute;
    top: 340px;
    left: 665px;
}
.sec4{
    width: 200px;
    height: 200px;
    background-color: #000000;

    position: absolute;
    top: 640px;
    left: 965px;
}
.sec5{
    width: 200px;
    height: 200px;
    background-color: #000000;

    position: absolute;
    top: 840px;
    left: 1165px;
}
.sec6{
    width: 200px;
    height: 200px;
    background-color: #000000;

    position: absolute;
    top: 40px;
    left: 1365px;
}