.warp{
    width: 1980px;
    height: 1080px;
    margin:0 auto;
}
header{
    height: 100px;
    display: flex;
}
.logo{
    width: 250px;
    height: 100%;
    background-color: #54D8DC;
}
.nav{
    width: 1000px;
    height: 100%;
    background-color:#86DADC ;
}
main{
    display: flex;
}
.left{
    width: 415px;
    height: 880px;
    background-image: url(img/layout1_1.png);
}
.mid{
    width: 415px;
    height: 880px;
    background-image: url(img/layout1_2.png);
}
.right{
    width: 415px;
    height: 880px;
    background-image: url(img/layout1_3.png);
}
footer{
    display: flex;
}
.fot_left{
    width: 250px;
    height: 100px;
    background-color: #FDE1E0;
}
.top{
    width: 1000px;
    height: 50px;
    background-color: #FECECE;

}
.bot{
    width: 1000px;
    height: 50px;
    background-color: #FDB2B5;
}

@media (max-width: 768px) {
  .wrap {
    width: 680px;
    height: 1080px;
  }
  header{
    flex-direction: column;
  }
  .nav{
    width: 100%;
    height: 100px;
  }
  .logo{
    width: 100%;
    height: 100px;
  }
  main{
    flex-direction: column;
  }
  .left{
    width: 100%;
    height: 225px;
    background-size:cover;
  }
  .mid{
    width: 100%;
    height: 225px;
    background-size:cover;
  }
  .right{
    width: 100%;
    height: 225px;
    background-size:cover;
  }
  footer{
    flex-direction: column;
  }
  .fot_left{
    width: 100%;
    height: 100px;
  }
  .top{
    width: 100%;
  }
  .bot{
    width: 100%;
  }

}