.section2{
    padding-top:50px;
    .sec2_title{
        font-size: 45px;
        text-align: center;
    }

    .boxs{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    .box>h3{
        font-size: 40px;
        text-align: center;
    }
    .box>p{
        font-size: 16px;
        height: 50px;
        width: 160px;
        border: #C9C9C9 solid 4px;
        box-shadow: 1px 3px 3px #C9C9C9;
        line-height: 50px;

        border-radius: 30px;
        text-align: center;

        margin: 0 auto;
    }
}