.section3{
    background-color: #fff;
    padding: 216px 0 0 0;
    
    
    .row{
        height: 445px;
        display: flex;

        align-items: center;       
        justify-content: center;

        padding-bottom: 140px;

    }
    .image1, .image2, .image3 {
        width: 720px;
    }
    .vision{
        padding:0 50px 0  120px;
        
    }
    .vision1{
        padding-left:80px;
        padding-right:50px;
    }
    p{
        color:#A3A3A3;
        font-size: 20px;
    }
    h1{
        color: #262626;
        font-size: 42px;
    }
    h5{
        color:#737373;
        font-size: 20px;
    }
    


}