.section5{
    background-color: #fff;
    padding: 145px 0 209px 0;

    .media{
        color: #FF7710;
        font-size: 20px;
        margin-bottom: -25px;

        display: flex;
        align-items: center;       
        justify-content: center;
    }
    .likelion{
        font-size: 35px;

        display: flex;
        align-items: center;       
        justify-content: center;
    }
    .boxs{
        display: flex;
        align-items: flex-start;      
        justify-content: center;
        gap:30px;
    }
    .box{
        background-color: #F5F5F5;

        width: 290px;
        height: 430px;

        
        align-items: center; 

        padding-bottom: 20px;

        position: relative;
    }
    .image4, .image5, .image6, .image7{
        width: 290px;
        height: 180px;
    }
    .news{
        padding-left: 25px;
    }
    .title{
        color:#272727;
        font-size: 18px;
    }
    .content{
        color:#737373;
        font-size: 16px;

        margin-top: -20px;
    }
    hr{
        width: 243px;
        margin: 15px auto;

        border: none;             
        border-top: 1px solid #E3E3E3;

        position: absolute;
        bottom: 40px;         
        left: 25px;  

    }
    .date{
        padding-left: 25px;
        padding-bottom: 25px;

        position: absolute;
        bottom: -20px;       
    }
}